/* Project3 */

/*@ font face from google font*/

@font-face {
	font-family: 'Open Sans Condensed', sans-serif;
}
/* .page class for border and background image*/
.page{
	background-color: #FFEFBC;
	height: auto;
	border: 2px solid grey;
	border-radius: 15px;
	box-shadow: -2px 4px 8px 6px #EC9905;
	height: auto;
	background-image: url("../images/hoop.png");
	background-repeat: non-repeat;
	background-attachment: fixed;
	background-position: center;
}


/*Body Layout */
body {
/*Back ground color and border*/
	background-image: url("../images/basketball.png");
	background-repeat: repeat;
	height: 300px;
	background-position: center;
	background-attachment: fixed;
	color: black;
	width: 90%;
	margin-top: 15px;
	margin-left: auto;
	margin-bottom: 15px;
	margin-right: auto;
	text-align: center;
	padding: 10px;
}

/* Paragraph font style and size*/
p {
	font-family: Open Sans Condensed;
	font-size: 1.000em;
	font-weight: bold;
}	

/*Gallery alignment*/	
#Gall{
	text-align: center;
}



/*Heading 1 font code*/ 

h1 {
	
	font-family: Georgia, Times, sans serif;
	font-size: 2.250em;
	font-weight: bold;
	text-shadow: 3px 3px 3px #ffc887;
	font-style: normal;
	line-height: 1px;
	text-align: center;
	padding: 33px;
}

/*heading 2 fond and border and background color*/
h2 {
	text-align: center;
	font-family: Open Sans Condensed;
	font size: 2.500em;
	font-weight: 900;
	border: solid 2px #EC9905;
	background: linear-gradient(#FFEFBC,#FFD24C);
	border-radius: 10px;
}
.p1{
	float: left;
	width: 300px;
	margin:  5px 10px;



}
/*h3 font */	
h3 {
	font-family: Open Sans Condensed;
	font-size: 20px;
	font-weight: bold;
}


/*List alignment/ font */
ol{
	text-align: center;
	list-style-type: lower-roman;
	list-style-position: inside;
}

ul{
	list-style-type: none;
}
	

/*Images/links parameters and color*/

a img{
	border: 2px solid black;
}

a:link{
	color: #000000;
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
}
a:visited{
	color: #4A5A6B
}
a:active{
	color: #FF7A3C;
}


#img1 {
	float: left;
	width: 450px;
	margin: 10px;
	}
	
#img2{
	float: left; 
	width: 450px;
	margin: 10px;

}
#resource{
	clear: both;
}








